
# Server name
SERVER_NAME=siemtest.shockley.net

# Password for the 'elastic' user (at least 6 characters)
ELASTIC_PASSWORD=weakpass

# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_PASSWORD=weakerpass

# Version of Elastic products
STACK_VERSION="9.3.1"

# Set the cluster name
CLUSTER_NAME=elastic-cluster

# Set to 'basic' or 'trial' to automatically start the 30-day trial
LICENSE=basic
#LICENSE=trial

# Port to expose Elasticsearch HTTP API to the host
ES_PORT=9200
#ES_PORT=127.0.0.1:9200

# Port to expose Kibana to the host
KIBANA_PORT=5601
#KIBANA_PORT=80

# Elasticsearch memory limit
ES_MEM_LIMIT=2G
ES_MEM_RESV=512M

# Elasticsearch CPU limits
ES_CPU_LIMIT=1
ES_CPU_RESV=0.25

# Kibana memory limit
KIBANA_MEM_LIMIT=2G
KIBANA_MEM_RESV=512M

# Kibana CPU limits
KIBANA_CPU_LIMIT=1
KIBANA_CPU_RESV=0.25

# nginx memory limit
NGINX_MEM_LIMIT=512M
NGINX_MEM_RESV=128M

# nginx CPU limits
NGINX_CPU_LIMIT=1
NGINX_CPU_RESV=0.25

# Project namespace (defaults to the current folder name if not set)
#COMPOSE_PROJECT_NAME=myproject

# Encryption key for Kibana and Fleet?
# Generate with openssl rand -hex 32
SECURITY_ENCRYPTIONKEY="xxx"
SAVED_OBJECTS_ENCRYPTIONKEY="yyy"
REPORTING_ENCRYPTIONKEY="zzz"
